@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
body {
    background-color: #fff;
    //    background-image: url('/images/background.jpg');
}

.item {
    padding: 5em;
    background-color: rgb(129, 79, 79);
    border-radius: 8px;
}

.owl-item.active.center {
    transform: scale(1) !important;
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: 
      grayscale(0);
  }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:active span {
    width: 50px;
    height: 8px;
    transition: 0.3s ease;
} 

.owl-item {
    // transform: scale(.8);
    transform: scale(0.9) !important;
    transition: .6s ease;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    filter: opacity(30%);
}

.slider {
    height: 350px;
}

.login-bt {
    border-radius: 50px ;
    border: none;
    background-color: #1f1bee ;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.regis-bt {
    @extend .login-bt ;
    background-color: #0dd4fb;
    border: white 1px solid;
}