
@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400,500,700,800,900&display=swap');

$blue-col : #0dd4fb ;

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
html {
    box-sizing: border-box;
}
body{
    background-color: #e0edf5;
}
.nonbts__container {
    padding-left: 70px;
    .row {
        padding-left: 25px;
        padding-top: 20px;
        
        .col {
            img{
                border: 3px solid white;
            }
        }
    }
}
.topnav {
    top: 0;
    width: 100%;
    height: 75px;
    background-color: $blue-col;
    position: fixed;
    z-index: 1;
    #form__search {
        background-image: url('/imgs/zoom.svg');
        padding-left: 50px;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 13px;
    }
    .form__search {
        padding-top: 1em;
        input[type=text]{
            height: 3em;
            width: 45vh;
            border: 1px solid #ccc;
            border-radius: 20px;
            resize: vertical;
          }
    }
    
}
.login-bt {
    width: 2em;
    height: 10px;
}
.sidenav {
    height: 100%;
    width: wrap;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: $blue-col ;
    overflow-x: hidden;
    transition: 0.5s;
    // -webkit-box-shadow: 2px 0px 14px 0px rgba(0,0,0,0.18);
    // -moz-box-shadow: 2px 0px 14px 0px rgba(0,0,0,0.18);
    // box-shadow: 2px 0px 14px 0px rgba(0,0,0,0.18);
    .toggle-btn {
        position: absolute;
        left: 230px;
        top: 20px;
        span{
            display: block;
            width: 30px;
            height: 5px;
            background: #151719;
            margin: 5px 0px;
           }   
    }
    .icon-bar {
        width: 70px;
        background-color: $blue-col;
        margin: 2px;
        a {
            display: block;
            text-align: center;
            padding: 16px;
            transition: all 0.3s ease;
            color: white;
            font-size: 36px;
          }
          
         a:hover {
            opacity: 0.5;
          }
        p {
            font-size: 10px;
        }
      }
      
      
        
}
#carousel3d {
    .carousel-3d-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        background-color: #fff;
        -webkit-transition: all .6s;
        transition: all .4s;
        border-radius: 30px;
      }
        .carousel-3d-slide.current {
        background-color: #333;
        color: #fff;
      }
        .carousel-3d-slide.current span {
        font-size: 20px;
        font-weight: 500;
      }
}
.slider {
    height: 350px;
}
.art__slide {
    margin-right: 75px;
    padding-top: 1em;
    // border: 1px solid black;
    // border-radius: 50%;
    // width: 180px;
    // height: 180px;
    // i {
    //     z-index: 1;
    //     border: white 3px solid;
    //     border-radius: 50%;
    // }
   
    img {
        width: 170px;
        height: 170px;
        border: 4px solid white;
        overflow: hidden;
        border-radius: 50%;
        // border: 2px solid white;
        // display: inline-block;
        // position: relative;
        // width: 170px;
        // height: 170px;
        // overflow: hidden;
        // border-radius: 50%;
    }
    h5{
        font-weight: 300;
        color: #333;
        padding-top: 1em;
        text-align: center;
        font-size: 17px;
    }
    h6 {
        font-weight: 300;
        text-align: center;
        color: #333;
    }
}
.newsong_slide {
    @extend .art__slide ;
    margin-right: 10px;
    img {
        width: 240px;
        height: 150px;
        border-radius: 10px;
    }
    h5 {
        font-weight: 400;
        text-align: left;
    }
    h6 {
        text-align: left;
    }
}

.playli_slide {
    @extend .art__slide ;
    margin-right: 10px;
    img {
        width: 240px;
        height: 240px;
        border-radius: 15px;
    }
    h5 {
        font-weight: 400;
        font-size: 18px;
        text-align: left;
    }
    .icon {
        top: 70%;
        
    }
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .3s ease;
  }
  //ปุ่มเล่น
  .icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .icon:hover {
  color: $blue-col;
}
.footer {
    margin-top: 4em;
    border-top: 1px solid rgba(4,4,4,0.3);
    height: 3em;
}

