//

$blue-col : #afe2ec ;
.user {
    
    .col-2 {
       .member--pic {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 5px black solid;
            border-radius: 50%;   
       } 
    }
    // .col-6 {
    //     position: relative;
    //     .member--detail {
    //         position: absolute;
    //         top: 20px;
    //     }
    // }
}
.package {
}
.box__package {
    // opacity: 0.7;
    text-align: left;
    position: relative;
    padding: 15px;
    width: 90%;
    height: 170px;
    border: 8px solid $blue-col ;
    background-color: #e0edf5;
    .row {
        .package--detail {
            h1 {
                font-weight: 800;
                font-size: 2ex;
            }
        }
    }
    .box__package--btn {
        position: absolute; 
        width: 10rem;
        height: 4rem;
        padding: 7px;
        border: yellowgreen solid 2px;
        border-radius: 30px;
        background-color: yellowgreen;
        color: black;
    }
}
.box__package:hover {
    opacity: 1;
    transition:  50ms;
}