.blur__bg {
    background-color: white;
    filter: blur(15px);
    opacity: 0.8;
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    .img-box {
        height: 100%;
        width: 70%;
        transform: translate(-45%, 0%);
        overflow: hidden;
        object-fit: cover;
        position: absolute;
        img {
            height: 120%;
            width: 120%;          
        }
    }   
}
.pro__pic__box {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
    max-height: 400px;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 15;
    object-fit: cover;
    img {
        transform: translate(-30%, 0%);
        width: auto;
        height: 140%;
    }
}
.art__detail {
    h1 {
        font-size: 44px;
    }
    p {
        width: 90%;
        padding-top: 1em;
        font-size: 20px;
    }
}

.allsong_col {
    div {
        position: relative;
        a {
            position: absolute; 
            bottom: 15px; 
            right: 15px;
            img {
                width: 50px; 
                height: 50px; 
                border: none;
            }
            
        }
        a:hover{
            transition: all 0.2s;
            transform: scale(1.1);
        }
    }
    img {
        object-fit: cover;
        width: 100% ;
        height: 160px;
        border: 4px white solid;
        border-radius: 25px;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }
    h5 {
        width: 240px;
        max-height: 3em;
        font-weight: 400;   
        text-align: left;
        overflow: hidden;
        font-weight: 300;
        color: #333;
        padding-top: 0.7em;
        margin-left: 1em;
        padding-bottom: 1em;
        font-size: 20px;
    }
}

#all_song {
    padding-top : 10em ;
}

.select-btn {
    background-color: white;
    color: #006aff;
    text-align: center;
    width: 190px;
    height: 35px;
    border: none;
    font-size: 19px;
    position: absolute;
    padding-top: 5px;
    transform: translate(-100%,-100%);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.select-btn:hover {
    transition: 0.3s all ease-out ;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.8);
}
.select-btn:focus {
    outline: none;
}
//------------------------------โหมจอขนาดกลาง-------------------------------------
@media (max-width: 1200px) {
    .blur__bg {
        max-height: 520px;
        .img-box {
            max-height: 100%;
            width: 100%;
            transform: translate(0%, 0%);
            img {
                height: 100%;
                width: 100%;          
            }
        }
    }
    .art__detail {
        h1 {
            padding-top: 1em;
        }
        p {
            font-size: 17px;
            width: 100%;
        }
    }
    .allsong_col {
        img {
            width: 100%;
            // height: 145px;
            max-width: 270px;
            max-height: 140px;
            border: 4px white solid;
            border-radius: 25px;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        }
        h5 {
            width: 150px;
        }
    }
    .art__song {
        padding-top: 1em;
        padding-bottom: 1em;     
        img {
            width: 200px;
            height: 110px;
            border-radius: 15px;
        }
        h5{
            font-weight: 300;
            color: #333;
            padding-top: 1em;
            text-align: left;   
            font-size: 20px;
        }
        h6 {
            font-weight: 300;
            text-align: left;
            color: #333;
        }
}
    #all_song {
        padding-top : 3em ;
    }
    .pro__pic__box {
        height: auto;
        width: auto;
        max-height: 250px;
        max-width: 250px;
        margin-left: 0px;
        display: inline-block;
        vertical-align: middle;
        img {
            transform: translate(-30%, 0%);
            width: auto;
            height: 350px;
        }
    }
}
//------------------------------โหมจอขนาดเล็ก-------------------------------------
@media (max-width: 740px) { 
    .art__detail {
        h1 {
            text-align: center;
            font-size: 38px;
        }
        p {
            font-size: 16px;
        }
    }
    .select-btn {
        width: 100px;
        height: 30PX;
        padding-bottom: 30px;
        font-size:  9px;
    }
    .allsong__grid {
        .col {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .allsong_col {
        div {
            position: relative;
            a {
                position: absolute; 
                bottom: 8px; 
                right: 8px;
                img {
                    width: 30px; 
                    height: 30px; 
                    border: none;
                }
            }
            
        }
        // margin: 0px;
        img {
            width: 100%;
            max-width: 160px;
            max-height: 85px;
            border:3px white solid;
            border-radius: 13px;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
        }
        h5 {
            font-size: 16px;
            width: 140px;
            margin-left: 0;
        }
    }
    #all_song {
        #slide-title {
            h3 {
                font-size: 22px;
            }
        }
    }
    .allsong__overlay {
        .all__icon {
            top: 50%;
            padding-right: 10px;
            img {
                border: none;
                height: 30px;
                width: 30px;
            }    
          }
   
    }
    .all__icon:hover {
        img {
            transition: all 1ms;
            height: 32px;
            width: 32px;
        }
    }
}
